.card {
  flex: none;
  cursor: pointer;
  width: 346.5px;
}

.personagem-wrapper {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  align-items: center;
  
}

/* .personagem-wrapper::-webkit-scrollbar {
  display: none;
} */


.text-name {
  color: #FFFF;
  font-family: "Gilroy-Heavy";
  font-size: 20px;
}

.text-ego{
  color: #F8F8F8;
  font-family: "Gilroy-medium";
  font-size: 10px;
}

.card img{
  border-radius: 50px;
  width: 90%;
  height: 100%;
}



